extends documentation-template.jade

block title
  title Documentation

block content
  include ../includes/preloader.jade
  include ../includes/pages-top-bar.jade
  include ../includes/documentation-header.jade
  include ../includes/documentation-main.jade
  include ../includes/main-footer.jade
block mainjs
  script(src='../scripts/documentation.js')
