section#contact.contact
  .container
    .row
      .col-md-12
        h2.section-title Contact
        p.contact-info If you have any questions regarding this item you can send me an email via my <a href="http://themeforest.net/user/rcwthemes#contact">codecanyon profile</a> or send me a message on skype (<span class="highlight">rcwthemes</span>)
