section#demos.demos
  .container
    .row
      .col-md-12
        h2.h1.section-title Demos
    .row
      .col-md-12
        h4.text-center I. Fully functional forms
        p.text-center This forms include client side validation, server side validation, database interaction, sending emails.
      .col-md-12.buttons-container
        .row
          .col-md-4.col-sm-12
            a(href='php/contact.php' title='Contact form' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-phone.ff-rounded-l
              | Contact
          .col-md-4.col-sm-12
            a(href='php/request-quote.php' title='Request quote' class='btn demo-btn btn-block btn-success has-icon-left ff-rounded')
              span.btn-icon-left.icon-calculator.ff-rounded-l
              | Request quote
          .col-md-4.col-sm-12
            a(href='php/register.php' title='Register' class='btn demo-btn btn-block btn-warning has-icon-left ff-rounded')
              span.btn-icon-left.icon-user5.ff-rounded-l
              | Register
      .col-md-12
        h4.text-center II. HTML demos
        p.text-center Good starting point of yours.
      .col-md-12.buttons-container
        .row
          .col-md-3.col-sm-12
            a(href='examples/login.html' title='Login' class='btn demo-btn btn-block btn-primary has-icon-left ff-rounded')
              span.btn-icon-left.icon-login.ff-rounded-l
              | Login
          .col-md-3.col-sm-12
            a(href='examples/review.html' title='Review' class='btn demo-btn btn-block btn-primary has-icon-left ff-rounded')
              span.btn-icon-left.icon-star32.ff-rounded-l
              | Review
          .col-md-3.col-sm-12
            a(href='examples/comment.html' title='Comment' class='btn demo-btn btn-block btn-primary has-icon-left ff-rounded')
              span.btn-icon-left.icon-chat5.ff-rounded-l
              | Comment
          .col-md-3.col-sm-12
            a(href='examples/checkout.html' title='Checkout' class='btn demo-btn btn-block btn-primary has-icon-left ff-rounded')
              span.btn-icon-left.icon-cart32.ff-rounded-l
              | Checkout
          .col-md-3.col-sm-12
            a(href='examples/form-horizontal.html' title='Horizontal' class='btn demo-btn btn-block btn-primary has-icon-left ff-rounded')
              span.btn-icon-left.icon-move-vertical.ff-rounded-l
              | Horizontal
          .col-md-3.col-sm-12
            a(href='examples/form-inline.html' title='Inline' class='btn demo-btn btn-block btn-primary has-icon-left ff-rounded')
              span.btn-icon-left.icon-move-horizontal.ff-rounded-l
              | Inline
          .col-md-3.col-sm-12
            a(href='examples/masking.html' title='Input masking' class='btn demo-btn btn-block btn-primary has-icon-left ff-rounded')
              span.btn-icon-left.icon-lightbulb2.ff-rounded-l
              | Masking
          .col-md-3.col-sm-12
      .col-md-12
        h4.text-center III. UI elements
        p.text-center Demos for all the UI elements included in this pack.
      .col-md-12.buttons-container
        .row
          .col-md-3.col-sm-12
            a(href='examples/datepicker.html' title='Datepicker' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-calendar7.ff-rounded-l
              | Datepicker
          .col-md-3.col-sm-12
            a(href='examples/timepicker.html' title='Timepicker' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-clock6.ff-rounded-l
              | Timepicker
          .col-md-3.col-sm-12
            a(href='examples/monthpicker.html' title='Monthpicker' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-calendar11.ff-rounded-l
              | Monthpicker
          .col-md-3.col-sm-12
            a(href='examples/colorpicker.html' title='Colorpicker' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-palette.ff-rounded-l
              | Colorpicker
          .col-md-3.col-sm-12
            a(href='examples/modal.html' title='Modals' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-new-window.ff-rounded-l
              | Modals
          .col-md-3.col-sm-12
            a(href='examples/dialog.html' title='Dialog' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-new-window.ff-rounded-l
              | Dialog
          .col-md-3.col-sm-12
            a(href='examples/selectmenu.html' title='Selectmenu' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-arrow-down22.ff-rounded-l
              | Selectmenu
          .col-md-3.col-sm-12
            a(href='examples/alerts.html' title='Alerts' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-warning.ff-rounded-l
              | Alerts
          .col-md-3.col-sm-12
            a(href='examples/slider.html' title='Sliders' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-arrow-circle-right.ff-rounded-l
              | Sliders
          .col-md-3.col-sm-12
            a(href='examples/spinner.html' title='Spinners' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-plus5.ff-rounded-l
              | Spinners
          .col-md-3.col-sm-12
            a(href='examples/tooltips.html' title='Tooltips' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-info42.ff-rounded-l
              | Tooltips
          .col-md-3.col-sm-12
            a(href='examples/progressbar.html' title='Progressbars' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-battery-50.ff-rounded-l
              | Progressbars
          .col-md-3.col-sm-12
            a(href='examples/tabs.html' title='Tabs' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-folder.ff-rounded-l
              | Tabs
          .col-md-3.col-sm-12
            a(href='examples/buttons.html' title='Buttons' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-hyperlink.ff-rounded-l
              | Buttons
          .col-md-3.col-sm-12
            a(href='examples/social-buttons.html' title='Social buttons' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-external-link.ff-rounded-l
              | Social buttons
          .col-md-3.col-sm-12
            a(href='examples/embeded-content.html' title='Embeded content' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-globe.ff-rounded-l
              | Embeded content
          .col-md-3.col-sm-12
            a(href='examples/menu.html' title='Menus' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-menu4.ff-rounded-l
              | Menus
          .col-md-3.col-sm-12
            a(href='examples/accordion.html' title='Accordions' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-minus22.ff-rounded-l
              | Accordion
          .col-md-3.col-sm-12
            a(href='examples/autocomplete.html' title='Autocomplete' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-chevron-circle-down.ff-rounded-l
              | Autocomplete
          .col-md-3.col-sm-12
            a(href='examples/table.html' title='Tables' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-document-text.ff-rounded-l
              | Table
          .col-md-3.col-sm-12
            a(href='examples/icons.html' title='Icons' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-IcoMoon.ff-rounded-l
              | Icons
          .col-md-3.col-sm-12
            a(href='examples/ui-icons.html' title='jQueryUI icons' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-IcoMoon.ff-rounded-l
              | jQueryUI Icons
      .col-md-12.buttons-container
        h4.text-center IV. Validation states
        p.text-center The pack includes styles for success, warning and error states.
      .col-md-12
        .row
          .col-md-4.col-sm-12
            a(href='examples/state-success.html' title='State success' class='btn demo-btn btn-block btn-success has-icon-left ff-rounded')
              span.btn-icon-left.icon-checkmark-circle.ff-rounded-l
              | Success state
          .col-md-4.col-sm-12
            a(href='examples/state-warning.html' title='State warning' class='btn demo-btn btn-block btn-warning has-icon-left ff-rounded')
              span.btn-icon-left.icon-warning.ff-rounded-l
              | Warning state
          .col-md-4.col-sm-12
            a(href='examples/state-error.html' title='State error' class='btn demo-btn btn-block btn-danger has-icon-left ff-rounded')
              span.btn-icon-left.icon-close2.ff-rounded-l
              | Error state
      .col-md-12
        h4.text-center V. Disabled state
        p.text-center Styles for disabled elements.
      .col-md-12
        .row
          .col-md-4.col-md-offset-4.col-sm-12
            a(href='examples/state-disabled.html' title='State disabled' class='btn demo-btn btn-block btn-default has-icon-left ff-rounded')
              span.btn-icon-left.icon-cancel6.ff-rounded-l
              | Disabled state

