.btns-container
  button#cli-demo.btn-clipboard(type='button')
    span.icon-copy4
    span.sr-only Copy
  button.btn-code(type='button', title='Show/hide code')
    span.icon-chevron-circle-right
    span.btn-code-text Hide code
