ul.nav.doc-nav
  li
    a(href='#overview', data-scroll) Overview
    ul.nav
      li
        a(href='#tools-used', data-scroll) Tools used
  li
    a(href='#the-css', data-scroll) CSS
    ul.nav
      li
        a(href='#rcw-form-class', data-scroll) .rcw-form class
      li
        a(href='#form-header', data-scroll) Form header
      li
        a(href='#fieldsets-and-legends', data-scroll) Fieldsets and legends
      li
        a(href='#form-controls', data-scroll) Form controls
      li
        a(href='#form-group-icons', data-scroll) Form group icons
      li
        a(href='#select-elements', data-scroll) Select elements
      li
        a(href='#checkboxes-and-radio-buttons', data-scroll) Checkboxes and radio buttons
      li
        a(href='#file-inputs', data-scroll) File inputs
      li
        a(href='#input-groups', data-scroll) Input groups
      li
        a(href='#validation-states', data-scroll) Validation states
      li
        a(href='#disabled-state', data-scroll) Disabled state
      li
        a(href='#readonly-inputs', data-scroll) Readonly inputs
      li
        a(href='#buttons', data-scroll) Buttons
      li
        a(href='#alerts', data-scroll) Alerts
      li
        a(href='#embeded-content', data-scroll) Embeded content
      li
        a(href='#help-block', data-scroll) Help block
      li
        a(href='#rating', data-scroll) Rating &amp; raty
      li
        a(href='#colorpicker', data-scroll) Colorpicker
      li
        a(href='#tables', data-scroll) Tables
      li
        a(href='#helper-classes', data-scroll) Helper classes
      li
        a(href='#grid-system', data-scroll) Grid system
      li
        a(href='#form-footer', data-scroll) Form footer
      li
        a(href='#inline-form', data-scroll) Inline form
      li
        a(href='#horizontal-form', data-scroll) Horizontal form
  li
    a(href='#the-javascript', data-scroll) Javascript
    ul.nav
      li
        a(href='#jqueryui', data-scroll) jQueryUI
      li
        a(href='#ie8', data-scroll) Internet Explorer 8
  li
    a(href='#the-php', data-scroll) PHP
  li
    a(href='#quick-start', data-scroll) Quick start
