section.features#features
  .container
    .row
      .col-md-12
        h2.h1.section-title More...
    .row
      .col-md-4.feature
        span.feature-icon.icon-chat5
        h4 Support
        p If you have any questions regarding this item you can send me an email via my&nbsp;
          a(href='http://themeforest.net/user/rcwthemes#contact', title='Codecanyon', target='_blank') codecanyon profile
          |  or send me a message on skype (&nbsp;
          span.highlight rcwthemes
          |  ).
      .col-md-4.feature
        span.feature-icon.icon-document-text
        h4 Documentation
        p Detailed documentation included.
      .col-md-4.feature
        span.feature-icon.icon-phone
        h4 Contact
        p If you have any questions regarding this item you can send me an email via my&nbsp;
          a(href='http://themeforest.net/user/rcwthemes#contact', title='Codecanyon', target='_blank') codecanyon profile
          |  or send me a message on skype (&nbsp;
          strong rcwthemes
          |  ).
