#top-bar.top-bar
  .container
    .row
      .col-xs-10
        span.top-email
          span.sr-only my-email-address
        span.sep |
        span.top-skype
          span Skype: rcwthemes
      .col-xs-2.home-btn-container
        a(href='../index.html', title='Home', class='home-btn')
          span.sr-only Home
          span.icon-home6
