nav#side-menu.side-menu
  h3.side-menu-title Munda forms
  ul
    li
      a(href='#', title='AJAX forms') AJAX forms
        span.icon-plus42
      ul.submenu#ajax-forms
        li
          a(href='#', title='Contact', data-form='contact')
            span.icon-arrow-right8
            |  Contact
        li
          a(href='#', title='Request quote', data-form='request-quote')
            span.icon-arrow-right8
            |  Request quote
        li
          a(href='#', title='Register', data-form='register')
            span.icon-arrow-right8
            |  Register
    li
      a(href='#', title='HTML forms') HTML forms
        span.icon-plus42
      ul.submenu
        li
          a(href='#', title='Login', data-form='login')
            span.icon-arrow-right8
            |  Login
        li
          a(href='#', title='Review', data-form='review')
            span.icon-arrow-right8
            |  Review
        li
          a(href='#', title='Comment', data-form='comment')
            span.icon-arrow-right8
            |  Comment
        li
          a(href='#', title='Checkout', data-form='checkout')
            span.icon-arrow-right8
            |  Checkout
        li
          a(href='#', title='Horizontal', data-form='form-horizontal')
            span.icon-arrow-right8
            |  Horizontal
        li
          a(href='#', title='Inline', data-form='form-inline')
            span.icon-arrow-right8
            |  Inline
        li
          a(href='#', title='Masking', data-form='masking')
            span.icon-arrow-right8
            |  Masking
    li
      a(href='#', title='UI elements') UI elements
        span.icon-plus42
      ul.submenu
        li
          a(href='#', title='Datepicker', data-form='datepicker')
            span.icon-arrow-right8
            |  Datepicker
        li
          a(href='#', title='Timepicker', data-form='timepicker')
            span.icon-arrow-right8
            |  Timepicker
        li
          a(href='#', title='Monthpicker', data-form='monthpicker')
            span.icon-arrow-right8
            |  Monthpicker
        li
          a(href='#', title='Colorpicker', data-form='colorpicker')
            span.icon-arrow-right8
            |  Colorpicker
        li
          a(href='#', title='Modals', data-form='modal')
            span.icon-arrow-right8
            |  Modals
        li
          a(href='#', title='Dialog', data-form='dialog')
            span.icon-arrow-right8
            |  Dialog
        li
          a(href='#', title='Selectmenu', data-form='selectmenu')
            span.icon-arrow-right8
            |  Selectmenu
        li
          a(href='#', title='Alerts', data-form='alerts')
            span.icon-arrow-right8
            |  Alerts
        li
          a(href='#', title='Sliders', data-form='slider')
            span.icon-arrow-right8
            |  Sliders
        li
          a(href='#', title='Spinners', data-form='spinner')
            span.icon-arrow-right8
            |  Spinners
        li
          a(href='#', title='Tooltips', data-form='tooltips')
            span.icon-arrow-right8
            |  Tooltips
        li
          a(href='#', title='Progressbars', data-form='progressbar')
            span.icon-arrow-right8
            |  Progressbars
        li
          a(href='#', title='Tabs', data-form='tabs')
            span.icon-arrow-right8
            |  Tabs
        li
          a(href='#', title='Buttons', data-form='buttons')
            span.icon-arrow-right8
            |  Buttons
        li
          a(href='#', title='Social buttons', data-form='social-buttons')
            span.icon-arrow-right8
            |  Social buttons
        li
          a(href='#', title='Embeded content', data-form='embeded-content')
            span.icon-arrow-right8
            |  Embeded content
        li
          a(href='#', title='Menus', data-form='menu')
            span.icon-arrow-right8
            |  Menus
        li
          a(href='#', title='Accordion', data-form='accordion')
            span.icon-arrow-right8
            |  Accordion
        li
          a(href='#', title='Autocomplete', data-form='autocomplete')
            span.icon-arrow-right8
            |  Table
        li
          a(href='#', title='Icons', data-form='icons')
            span.icon-arrow-right8
            |  Icons
        li
          a(href='#', title='jQuerUI icons', data-form='ui-icons')
            span.icon-arrow-right8
            |  jQueryUI icons
    li
      a(href='#', title='Validation states') Interaction states
        span.icon-plus42
      ul.submenu
        li
          a(href='#', title='Success state', data-form='state-success')
            span.icon-arrow-right8
            |  Success state
        li
          a(href='#', title='Warning state', data-form='state-warning')
            span.icon-arrow-right8
            |  Warning state
        li
          a(href='#', title='Error state', data-form='state-error')
            span.icon-arrow-right8
            |  Error state
        li
          a(href='#', title='Disabled state', data-form='state-disabled')
            span.icon-arrow-right8
            |  Disabled state
