.style-switcher.ff-rounded-etr
  button(type='button', class='switcher-toggle ff-rounded-r', id='switcher-toggle')
    span.icon-gear
  h3 Change styles
  h5 Skin
  ul
    li
      a#carrot.carrot.skin(href='#', title='Carrot', data-tooltip='Carrot')
        span.sr-only Carrot
    li
      a#greensea.greensea.skin(href='#', title='Greensea')
        span.sr-only Greensea
    li
      a#pumpkin.pumpkin.skin(href='#', title='Pumpkin')
        span.sr-only Pumpkin
    li
      a#sunflower.sunflower.skin(href='#', title='Sunflower')
        span.sr-only Sunflower
    li
      a#turquoise.turquoise.skin(href='#', title='Turquoise')
        span.sr-only Turquoise
  h5 Body background
  ul
    li
      a#food.food.body-bg(href='#', title='Food')
        span.sr-only Food
    li
      a#black-linen-v2.black-linen-v2.body-bg(href='#', title='Black linen v2')
        span.sr-only Black linen v2
    li
      a#low-contrast-linen.low-contrast-linen.body-bg(href='#', title='Low contrast linen')
        span.sr-only Low contrast linen
    li
      a#purty-wood.purty-wood.body-bg(href='#', title='Purty wood')
        span.sr-only Purty wood
    li
      a#shattered.shattered.body-bg(href='#', title='Shattered')
        span.sr-only Shattered
  .text-right
    button(type='button', class='reset-style-switcher ff-rounded', id='reset-style-switcher') Reset





