#top-bar.index-top-bar
  .container
    .row
      .col-xs-12
        button#toggle-side-menu.toggle-side-menu(type='button')
          span.bar
          span.bar
          span.bar
          span.sr-only Main menu
        span.logo Munda forms
