extends example-template.jade

block title
  title Autocomplete

block content
  .form-container.autocomplete-form.animated.fadeInDown
    form(action='', method='post', enctype='multipart/form-data', id='autocomplete-form', class='rcw-form container-fluid')
      header
        h3.form-main-heading Autocomplete
      fieldset.row
        .col-md-12
          legend
            span Autocomplete basic
        .form-group.col-md-12
          label(for='languages', class='sr-only') Languages
          input(type='text', name='languages', id='languages', class='form-control ff-rounded', placeholder='Programming language')
      footer.ff-rounded-b
        input(type='submit', name='submit', value='Submit', class='btn btn-primary ff-rounded', style='margin-right: 10px;')
        button(type='reset', class='btn btn-default ff-rounded btn-has-icon-left')
          span.btn-icon-left.icon-cancel5.ff-rounded-l
          | Reset
block mainjs
  script(src='../scripts/autocomplete.js')
