extends example-template.jade

block title
  title Dialog

block content
  .form-container.dialog-form.animated.fadeInDown
    form(action='', method='post', enctype='multipart/form-data', id='dialog-form', class='rcw-form container-fluid')
      header
        h3.form-main-heading Dialog
      fieldset.row
        .col-md-12
          legend
            span Basic dialog
        .form-group.col-md-12
          #dialog(title='Basic dialog')
            p This is an animated dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis dolorem suscipit esse soluta nihil magni adipisci dolorum cumque consequuntur quae enim dolores eveniet, non. Et, officiis aspernatur laudantium dolore reiciendis.
          button(type='button', id='open-dialog' class='btn btn-primary ff-rounded') Dialog
      footer.ff-rounded-b
        input(type='submit', name='submit', value='Submit', class='btn btn-primary ff-rounded', style='margin-right: 10px;')
        button(type='reset', class='btn btn-default ff-rounded btn-has-icon-left')
          span.btn-icon-left.icon-cancel5.ff-rounded-l
          | Reset
block mainjs
  script(src='../scripts/dialog.js')
