doctype html
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>--> <html class="no-js"> <!--<![endif]-->
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  block title
    title Page template
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  // Favicon and Apple Icons
  link(rel='shortcut icon', href='../favicon.ico')
  link(rel='apple-touch-icon-precomposed', sizes='152x152' href='../apple-touch-icon-precomposed.png')

  // Google Fonts
  link(href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic', rel='stylesheet')

  // Vendor stylesheets
  link(rel='stylesheet', href='../styles/vendor/normalize.css')
  link(rel='stylesheet', href='../styles/vendor/grid.css')
  link(rel='stylesheet', href='../styles/icomoon.css')
  link(rel='stylesheet', href='../styles/vendor/spectrum.css')
  link(rel='stylesheet', href='../styles/vendor/spectrum-custom.css', id='spectrum-custom')
  link(rel='stylesheet', href='../styles/vendor/raty-custom.css')
  link(rel='stylesheet', href='../styles/vendor/animate.css')
  link(rel='stylesheet', href='../styles/style-switcher.css')

  // Main stylesheet
  link(rel='stylesheet', href='../styles/form-framework.min.css', id='form-framework')
  link(rel='stylesheet', href='../styles/jqueryui-theme.min.css', id='jqueryui-theme')

  // build:js scripts/vendor/modernizr.js
  script(src='../../bower_components/modernizr/modernizr.js')
  // endbuild

  // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  // CSS3 pseudo-classes and attribute selectors support in Internet Explorer 6-8
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/mootools/1.5.0/mootools-core-full-compat.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
  <![endif]-->
body.example
  include ../includes/preloader
  include ../includes/style-switcher
  block content
    p Your content goes here
  block plugins
    script(src='../scripts/plugins/jquery.js')
    script(src='../scripts/plugins/jquery.easing.1.3.js')
    script(src='../scripts/plugins/jquery-ui.js')
    script(src='../scripts/plugins/jquery-ui-timepicker-addon.js')
    script(src='../scripts/plugins/jquery.mtz.monthpicker.js')
    script(src='../scripts/plugins/jquery-ui-sliderAccess.js')
    script(src='../scripts/plugins/jquery.maskedinput.js')
    script(src='../scripts/plugins/spectrum.js')
    script(src='../scripts/plugins/jquery.raty.js')
    script(src='../scripts/plugins/jquery.nicefileinput.min.js')
    script(src='../scripts/plugins/placeholders.min.js')
    script(src='../scripts/plugins/jquery.validate.js')
    script(src='../scripts/plugins/additional-methods.js')
    script(src='../scripts/plugins/jquery.form.js')
    script(src='../scripts/style-switcher.js')
    script(src='../scripts/preloader.js')
  block mainjs
    script(src='../scripts/main.js')
</html>
