extends example-template.jade

block title
  title Social buttons

block content
  .form-container.social-buttons-form.animated.fadeInDown
    form(action='', method='post', enctype='multipart/form-data', id='social-buttons-form', class='rcw-form container-fluid')
      header
        h3.form-main-heading Social buttons
      fieldset.row
        .col-md-12
          legend <span>Social buttons</span>
        .form-group.col-md-12(style='font-size: 0;')
          a(href='#', target='_blank', title='Facebook', class='btn btn-facebook ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-facebook3.ff-rounded-l
            | Facebook
          a(href='#', target='_blank', title='Twitter', class='btn btn-twitter ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-twitter2.ff-rounded-l
            | Twitter
          a(href='#', target='_blank', title='Google+', class='btn btn-googleplus ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-googleplus3.ff-rounded-l
            | Google+
          a(href='#', target='_blank', title='Youtube', class='btn btn-youtube ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-youtube.ff-rounded-l
            | Youtube
          a(href='#', target='_blank', title='Github', class='btn btn-github ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-github.ff-rounded-l
            | Github
          a(href='#', target='_blank', title='Linkedin', class='btn btn-linkedin ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-linkedin3.ff-rounded-l
            | Linkedin
          a(href='#', target='_blank', title='RSS', class='btn btn-rss ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-rss4.ff-rounded-l
            | RSS
          a(href='#', target='_blank', title='Dribbble', class='btn btn-dribbble ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-dribbble2.ff-rounded-l
            | Dribbbble
          a(href='#', target='_blank', title='Flickr', class='btn btn-flickr ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-flickr2.ff-rounded-l
            | Flickr
          a(href='#', target='_blank', title='HTML5', class='btn btn-html5 ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-html5.ff-rounded-l
            | HTML5
          a(href='#', target='_blank', title='Pinterest', class='btn btn-pinterest ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-pinterest.ff-rounded-l
            | Pinterest
          a(href='#', target='_blank', title='Stackoverflow', class='btn btn-stackoverflow ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-stackoverflow.ff-rounded-l
            | Stackoverflow
          a(href='#', target='_blank', title='Weibo', class='btn btn-weibo ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-weibo.ff-rounded-l
            | Weibo
          a(href='#', target='_blank', title='Android', class='btn btn-android ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-android.ff-rounded-l
            | Android
          a(href='#', target='_blank', title='Dropbox', class='btn btn-dropbox ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-dropbox.ff-rounded-l
            | Dropbox
          a(href='#', target='_blank', title='Foursquare', class='btn btn-foursquare ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-foursquare3.ff-rounded-l
            | Foursquare
          a(href='#', target='_blank', title='Instagram', class='btn btn-instagram ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-instagram.ff-rounded-l
            | Instagram
          a(href='#', target='_blank', title='Renren', class='btn btn-renren ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-renren.ff-rounded-l
            | Renren
          a(href='#', target='_blank', title='Windows', class='btn btn-windows ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-windows8.ff-rounded-l
            | Windows
          a(href='#', target='_blank', title='Apple', class='btn btn-apple ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-apple3.ff-rounded-l
            | Apple
          a(href='#', target='_blank', title='Tumblr', class='btn btn-tumblr ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-tumblr.ff-rounded-l
            | Tumblr
          a(href='#', target='_blank', title='Vimeo', class='btn btn-vimeo ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-vimeo.ff-rounded-l
            | Vimeo
          a(href='#', target='_blank', title='Xing', class='btn btn-xing ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-xing3.ff-rounded-l
            | Xing
          a(href='#', target='_blank', title='CSS3', class='btn btn-css3 ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-css3.ff-rounded-l
            | CSS3
          a(href='#', target='_blank', title='VK', class='btn btn-vk ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-vk.ff-rounded-l
            | VK
          a(href='#', target='_blank', title='Flattr', class='btn btn-flattr ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-flattr.ff-rounded-l
            | Flattr
          a(href='#', target='_blank', title='Paypal', class='btn btn-paypal ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-paypal.ff-rounded-l
            | Paypal
          a(href='#', target='_blank', title='Yelp', class='btn btn-yelp ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-yelp.ff-rounded-l
            | Yelp
          a(href='#', target='_blank', title='Lastfm', class='btn btn-lastfm ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-lastfm.ff-rounded-l
            | Lastfm
          a(href='#', target='_blank', title='Stumbleupon', class='btn btn-stumbleupon ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-stumbleupon3.ff-rounded-l
            | Stumbleupon
          a(href='#', target='_blank', title='Wordpress', class='btn btn-wordpress ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-wordpress.ff-rounded-l
            | Wordpress
          a(href='#', target='_blank', title='Joomla', class='btn btn-joomla ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-joomla.ff-rounded-l
            | Joomla
          a(href='#', target='_blank', title='Blogger', class='btn btn-blogger ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-blogger.ff-rounded-l
            | Blogger
          a(href='#', target='_blank', title='Soundcloud', class='btn btn-soundcloud ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-soundcloud.ff-rounded-l
            | Soundcloud
          a(href='#', target='_blank', title='Chrome', class='btn btn-chrome ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-chrome.ff-rounded-l
            | Chrome
          a(href='#', target='_blank', title='Firefox', class='btn btn-firefox ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-firefox.ff-rounded-l
            | Firefox
          a(href='#', target='_blank', title='Internet Explorer', class='btn btn-ie ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-IE.ff-rounded-l
            | Internet Explorer
          a(href='#', target='_blank', title='Opera', class='btn btn-opera ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-opera.ff-rounded-l
            | Opera
          a(href='#', target='_blank', title='Safari', class='btn btn-safari ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-safari.ff-rounded-l
            | Safari
          a(href='#', target='_blank', title='IcoMoon', class='btn btn-icomoon ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-IcoMoon.ff-rounded-l
            | IcoMoon
          a(href='#', target='_blank', title='Lanyrd', class='btn btn-lanyrd ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-lanyrd.ff-rounded-l
            | Lanyrd
          a(href='#', target='_blank', title='Deviantart', class='btn btn-deviantart ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-deviantart.ff-rounded-l
            | Deviantart
          a(href='#', target='_blank', title='Forrst', class='btn btn-forrst ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-forrst.ff-rounded-l
            | Forrst
          a(href='#', target='_blank', title='Yahoo', class='btn btn-yahoo ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-yahoo.ff-rounded-l
            | Yahoo
          a(href='#', target='_blank', title='Steam', class='btn btn-steam ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-steam.ff-rounded-l
            | Steam
          a(href='#', target='_blank', title='Reddit', class='btn btn-reddit ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-reddit.ff-rounded-l
            | Reddit
          a(href='#', target='_blank', title='Picasa', class='btn btn-picasa ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-picasa.ff-rounded-l
            | Picasa
          a(href='#', target='_blank', title='Delicious', class='btn btn-delicious ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-delicious2.ff-rounded-l
            | Delicious
          a(href='#', target='_blank', title='Behance', class='btn btn-behance ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-behance.ff-rounded-l
            | Behance
          a(href='#', target='_blank', title='Mixi', class='btn btn-mixi ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-mixi.ff-rounded-l
            | Mixi
          a(href='#', target='_blank', title='Smashing Magazine', class='btn btn-smashing ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-smashing.ff-rounded-l
            | Smashing
          a(href='#', target='_blank', title='Evernote', class='btn btn-evernote ff-rounded btn-has-icon-left')
            span.btn-icon-left.icon-evernote.ff-rounded-l
            | Evernote
      fieldset.row
        .col-md-12
          legend <span> Social buttons icons only</span>
        .form-group.col-md-12(style='font-size: 0;')
          a(href='#', target='_blank', title='Facebook', class='btn btn-icon-only ff-rounded btn-facebook') <span class="icon-facebook3"></span>
          a(href='#', target='_blank', title='Twitter', class='btn btn-icon-only ff-rounded btn-twitter') <span class="icon-twitter2"></span>
          a(href='#', target='_blank', title='Google+', class='btn btn-icon-only ff-rounded btn-googleplus') <span class="icon-googleplus3"></span>
          a(href='#', target='_blank', title='Youtube', class='btn btn-icon-only ff-rounded btn-youtube') <span class="icon-youtube"></span>
          a(href='#', target='_blank', title='Github', class='btn btn-icon-only ff-rounded btn-github') <span class="icon-github"></span>
          a(href='#', target='_blank', title='Linkedin', class='btn btn-icon-only ff-rounded btn-linkedin') <span class="icon-linkedin3"></span>
          a(href='#', target='_blank', title='RSS', class='btn btn-icon-only ff-rounded btn-rss') <span class="icon-rss4"></span>
          a(href='#', target='_blank', title='Dribbble', class='btn btn-icon-only ff-rounded btn-dribbble') <span class="icon-dribbble2"></span>
          a(href='#', target='_blank', title='Flickr', class='btn btn-icon-only ff-rounded btn-flickr') <span class="icon-flickr2"></span>
          a(href='#', target='_blank', title='HTML5', class='btn btn-icon-only ff-rounded btn-html5') <span class="icon-html5"></span>
          a(href='#', target='_blank', title='Pinterest', class='btn btn-icon-only ff-rounded btn-pinterest') <span class="icon-pinterest"></span>
          a(href='#', target='_blank', title='Stackoverflow', class='btn btn-icon-only ff-rounded btn-stackoverflow') <span class="icon-stackoverflow"></span>
          a(href='#', target='_blank', title='Weibo', class='btn btn-icon-only ff-rounded btn-weibo') <span class="icon-weibo"></span>
          a(href='#', target='_blank', title='Android', class='btn btn-icon-only ff-rounded btn-android') <span class="icon-android"></span>
          a(href='#', target='_blank', title='Dropbox', class='btn btn-icon-only ff-rounded btn-dropbox') <span class="icon-dropbox"></span>
          a(href='#', target='_blank', title='Foursquare', class='btn btn-icon-only ff-rounded btn-foursquare') <span class="icon-foursquare3"></span>
          a(href='#', target='_blank', title='Instagram', class='btn btn-icon-only ff-rounded btn-instagram') <span class="icon-instagram"></span>
          a(href='#', target='_blank', title='Renren', class='btn btn-icon-only ff-rounded btn-renren') <span class="icon-renren"></span>
          a(href='#', target='_blank', title='Windows', class='btn btn-icon-only ff-rounded btn-windows') <span class="icon-windows8"></span>
          a(href='#', target='_blank', title='Apple', class='btn btn-icon-only ff-rounded btn-apple') <span class="icon-apple3"></span>
          a(href='#', target='_blank', title='Tumblr', class='btn btn-icon-only ff-rounded btn-tumblr') <span class="icon-tumblr"></span>
          a(href='#', target='_blank', title='Vimeo', class='btn btn-icon-only ff-rounded btn-vimeo') <span class="icon-vimeo"></span>
          a(href='#', target='_blank', title='Xing', class='btn btn-icon-only ff-rounded btn-xing') <span class="icon-xing3"></span>
          a(href='#', target='_blank', title='CSS3', class='btn btn-icon-only ff-rounded btn-css3') <span class="icon-css3"></span>
          a(href='#', target='_blank', title='VK', class='btn btn-icon-only ff-rounded btn-vk') <span class="icon-vk"></span>
          a(href='#', target='_blank', title='Flattr', class='btn btn-icon-only ff-rounded btn-flattr') <span class="icon-flattr"></span>
          a(href='#', target='_blank', title='Paypal', class='btn btn-icon-only ff-rounded btn-paypal') <span class="icon-paypal"></span>
          a(href='#', target='_blank', title='Yelp', class='btn btn-icon-only ff-rounded btn-yelp') <span class="icon-yelp"></span>
          a(href='#', target='_blank', title='Lastfm', class='btn btn-icon-only ff-rounded btn-lastfm') <span class="icon-lastfm"></span>
          a(href='#', target='_blank', title='Stumbleupon', class='btn btn-icon-only ff-rounded btn-stumbleupon') <span class="icon-stumbleupon3"></span>
          a(href='#', target='_blank', title='Wordpress', class='btn btn-icon-only ff-rounded btn-wordpress') <span class="icon-wordpress"></span>
          a(href='#', target='_blank', title='Joomla', class='btn btn-icon-only ff-rounded btn-joomla') <span class="icon-joomla"></span>
          a(href='#', target='_blank', title='Blogger', class='btn btn-icon-only ff-rounded btn-blogger') <span class="icon-blogger"></span>
          a(href='#', target='_blank', title='Soundcloud', class='btn btn-icon-only ff-rounded btn-soundcloud') <span class="icon-soundcloud"></span>
          a(href='#', target='_blank', title='Chrome', class='btn btn-icon-only ff-rounded btn-chrome') <span class="icon-chrome"></span>
          a(href='#', target='_blank', title='Firefox', class='btn btn-icon-only ff-rounded btn-firefox') <span class="icon-firefox"></span>
          a(href='#', target='_blank', title='Internet Explorer', class='btn btn-icon-only ff-rounded btn-ie') <span class="icon-IE"></span>
          a(href='#', target='_blank', title='Opera', class='btn btn-icon-only ff-rounded btn-opera') <span class="icon-opera"></span>
          a(href='#', target='_blank', title='Safari', class='btn btn-icon-only ff-rounded btn-safari') <span class="icon-safari"></span>
          a(href='#', target='_blank', title='IcoMoon', class='btn btn-icon-only ff-rounded btn-icomoon') <span class="icon-IcoMoon"></span>
          a(href='#', target='_blank', title='Lanyrd', class='btn btn-icon-only ff-rounded btn-lanyrd') <span class="icon-lanyrd"></span>
          a(href='#', target='_blank', title='Deviantart', class='btn btn-icon-only ff-rounded btn-deviantart') <span class="icon-deviantart"></span>
          a(href='#', target='_blank', title='Forrst', class='btn btn-icon-only ff-rounded btn-forrst') <span class="icon-forrst"></span>
          a(href='#', target='_blank', title='Yahoo', class='btn btn-icon-only ff-rounded btn-yahoo') <span class="icon-yahoo"></span>
          a(href='#', target='_blank', title='Steam', class='btn btn-icon-only ff-rounded btn-steam') <span class="icon-steam"></span>
          a(href='#', target='_blank', title='Reddit', class='btn btn-icon-only ff-rounded btn-reddit') <span class="icon-reddit"></span>
          a(href='#', target='_blank', title='Picasa', class='btn btn-icon-only ff-rounded btn-picasa') <span class="icon-picasa"></span>
          a(href='#', target='_blank', title='Delicious', class='btn btn-icon-only ff-rounded btn-delicious') <span class="icon-delicious2"></span>
          a(href='#', target='_blank', title='Behance', class='btn btn-icon-only ff-rounded btn-behance') <span class="icon-behance"></span>
          a(href='#', target='_blank', title='Mixi', class='btn btn-icon-only ff-rounded btn-mixi') <span class="icon-mixi"></span>
          a(href='#', target='_blank', title='Smashing Magazine', class='btn btn-icon-only ff-rounded btn-smashing') <span class="icon-smashing"></span>
          a(href='#', target='_blank', title='Evernote', class='btn btn-icon-only ff-rounded btn-evernote') <span class="icon-evernote"></span>
      footer.ff-rounded-b
        input(type='submit', name='submit', value='Submit', class='btn btn-primary ff-rounded', style='margin-right: 10px;')
        button(type='reset', class='btn btn-default ff-rounded btn-has-icon-left')
          span.btn-icon-left.icon-cancel5.ff-rounded-l
          | Reset
block mainjs
  script(src='../scripts/social-buttons.js')
