extends example-template.jade

block title
  title jQueryUI icons

block content
  .form-container.ui-icons-form.animated.fadeInDown
    form(action='', method='post', enctype='multipart/form-data', id='ui-icons-form', class='rcw-form container-fluid')
      header
        h3.form-main-heading jQueryUI icons
      fieldset.row
        .col-md-12
          legend
            span jQueryUI icons examples
        .col-md-12
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-1', title='.ui-icon-closethick') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-2', title='.ui-icon-minus') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-3', title='.ui-icon-minusthick') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-4', title='.ui-icon-plus') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-5', title='.ui-icon-carat-1-n') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-6', title='.ui-icon-carat-1-w') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-7', title='.ui-icon-carat-1-s') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-8', title='.ui-icon-carat-1-e') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-9', title='.ui-icon-triangle-1-n') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-10', title='.ui-icon-triangle-1-s') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-11', title='.ui-icon-triangle-1-e') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-12', title='.ui-icon-triangle-1-w') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-13', title='.ui-icon-triangle-2-n-s') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-14', title='.ui-icon-arrow-1-n') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-15', title='.ui-icon-arrow-1-ne') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-16', title='.ui-icon-arrow-1-e') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-17', title='.ui-icon-arrow-1-se') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-18', title='.ui-icon-arrow-1-s') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-19', title='.ui-icon-arrow-1-sw') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-20', title='.ui-icon-arrow-1-w') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-21', title='.ui-icon-arrow-1-nw') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-22', title='.ui-icon-arrowthick-1-n') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-23', title='.ui-icon-arrowthick-1-ne') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-24', title='.ui-icon-arrowthick-1-e') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-25', title='.ui-icon-arrowthick-1-se') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-26', title='.ui-icon-arrowthick-1-s') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-27', title='.ui-icon-arrowthick-1-sw') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-28', title='.ui-icon-arrowthick-1-w') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-29', title='.ui-icon-arrowthick-1-nw') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-30', title='.ui-icon-arrow-2-n-s') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-31', title='.ui-icon-arrow-2-e-w') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-32', title='.ui-icon-arrow-2-ne-sw') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-33', title='.ui-icon-arrow-4') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-34', title='.ui-icon-arrow-4-diag') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-35', title='.ui-icon-extlink') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-36', title='.ui-icon-newwin') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-37', title='.ui-icon-refresh') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-38', title='.ui-icon-shuffle') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-39', title='.ui-icon-transfer-e-w') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-40', title='.ui-icon-folder-collapsed') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-41', title='.ui-icon-folder-open') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-42', title='.ui-icon-document') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-43', title='.ui-icon-note') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-44', title='.ui-icon-mail-closed') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-45', title='.ui-icon-mail-open') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-46', title='.ui-icon-suitcase') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-47', title='.ui-icon-comment') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-48', title='.ui-icon-person') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-49', title='.ui-icon-print') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-50', title='.ui-icon-trash') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-51', title='.ui-icon-locked') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-52', title='.ui-icon-unlocked') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-53', title='.ui-icon-bookmark') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-54', title='.ui-icon-tag') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-55', title='.ui-icon-home') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-56', title='.ui-icon-flag') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-57', title='.ui-icon-calculator') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-58', title='.ui-icon-cart') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-59', title='.ui-icon-pencil') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-60', title='.ui-icon-clock') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-61', title='.ui-icon-disk') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-62', title='.ui-icon-calendar') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-63', title='.ui-icon-zoomin') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-64', title='.ui-icon-zoomout') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-65', title='.ui-icon-search') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-66', title='.ui-icon-wrench') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-67', title='.ui-icon-gear') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-68', title='.ui-icon-heart') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-69', title='.ui-icon-star') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-70', title='.ui-icon-link') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-71', title='.ui-icon-cancel') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-72', title='.ui-icon-close') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-73', title='.ui-icon-closethick') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-74', title='.ui-icon-key') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-75', title='.ui-icon-lightbulb') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-76', title='.ui-icon-scissors') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-77', title='.ui-icon-clipboard') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-78', title='.ui-icon-copy') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-79', title='.ui-icon-contact') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-80', title='.ui-icon-image') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-81', title='.ui-icon-video') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-82', title='.ui-icon-alert') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-83', title='.ui-icon-info') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-84', title='.ui-icon-notice') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-85', title='.ui-icon-help') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-86', title='.ui-icon-check') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-87', title='.ui-icon-bullet') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-88', title='.ui-icon-radio-off') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-89', title='.ui-icon-radio-on') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-90', title='.ui-icon-pin-sw') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-91', title='.ui-icon-pin-s') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-92', title='.ui-icon-play') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-93', title='.ui-icon-pause') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-94', title='.ui-icon-seek-next') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-95', title='.ui-icon-seek-prev') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-96', title='.ui-icon-seek-end') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-97', title='.ui-icon-seek-first') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-98', title='.ui-icon-stop') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-99', title='.ui-icon-eject') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-100', title='.ui-icon-volume-off') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-101', title='.ui-icon-volume-on') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-102', title='.ui-icon-power') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-103', title='.ui-icon-signal-diag') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-104', title='.ui-icon-signal') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-105', title='.ui-icon-battery-0') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-106', title='.ui-icon-battery-1') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-107', title='.ui-icon-battery-2') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-108', title='.ui-icon-battery-3') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-109', title='.ui-icon-battery-4') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-110', title='.ui-icon-circle-plus') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-111', title='.ui-icon-circle-minus') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-112', title='.ui-icon-circle-close') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-113', title='.ui-icon-chevron-left') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-114', title='.ui-icon-chevron-right') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-115', title='.ui-icon-chevron-top') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-116', title='.ui-icon-chevron-down') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-117', title='.ui-icon-circle-arrow-e') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-118', title='.ui-icon-circle-arrow-w') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-119', title='.ui-icon-circle-arrow-n') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-120', title='.ui-icon-circle-arrow-s') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-121', title='.ui-icon-circle-check') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-122', title='.ui-icon-square-plus') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-123', title='.ui-icon-square-minus') Demo
          button(type='button', class='ui-icons-demo', id='ui-icons-demo-124', title='.ui-icon-square-close') Demo
      footer.ff-rounded-b
        input(type='submit', name='submit', value='Submit', class='btn btn-primary ff-rounded', style='margin-right: 10px;')
        button(type='reset', class='btn btn-default ff-rounded btn-has-icon-left')
          span.btn-icon-left.icon-cancel5.ff-rounded-l
          | Reset
block mainjs
  script(src='../scripts/ui-icons.js')
