@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;

  src:url('../fonts/icomoon.eot?73756t');
  src:url('../fonts/icomoon.eot?#iefix73756t') format('embedded-opentype'),
  url('../fonts/icomoon.woff?73756t') format('woff'),
  url('../fonts/icomoon.ttf?73756t') format('truetype'),
  url('../fonts/icomoon.svg?73756t#icomoon') format('svg');
  }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;

  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

.icon-user12:before {
  content: "\ee83";
  }

.icon-users5:before {
  content: "\ee82";
  }

.icon-cancel6:before {
  content: "\ed1a";
  }

.icon-battery-empty2:before {
  content: "\ee4e";
  }

.icon-battery-25:before {
  content: "\ee4f";
  }

.icon-battery-50:before {
  content: "\ee50";
  }

.icon-battery-75:before {
  content: "\ee51";
  }

.icon-battery-full4:before {
  content: "\ee52";
  }

.icon-calendar11:before {
  content: "\ee70";
  }

.icon-document-text:before {
  content: "\eddd";
  }

.icon-question4:before {
  content: "\f128";
  }

.icon-linkedin3:before {
  content: "\f0e1";
  }

.icon-rss4:before {
  content: "\f09e";
  }

.icon-weibo:before {
  content: "\f18a";
  }

.icon-dropbox:before {
  content: "\f16b";
  }

.icon-foursquare3:before {
  content: "\f180";
  }

.icon-renren:before {
  content: "\f18b";
  }

.icon-apple3:before {
  content: "\f179";
  }

.icon-xing3:before {
  content: "\f168";
  }

.icon-vk:before {
  content: "\f189";
  }

.icon-user14:before {
  content: "\f007";
  }

.icon-tag10:before {
  content: "\f02b";
  }

.icon-external-link:before {
  content: "\f08e";
  }

.icon-refresh7:before {
  content: "\f021";
  }

.icon-folder7:before {
  content: "\f07b";
  }

.icon-folder-open2:before {
  content: "\f07c";
  }

.icon-suitcase5:before {
  content: "\f0f2";
  }

.icon-pencil10:before {
  content: "\f040";
  }

.icon-wrench4:before {
  content: "\f0ad";
  }

.icon-gear:before {
  content: "\f013";
  }

.icon-copy4:before {
  content: "\f0c5";
  }

.icon-exclamation2:before {
  content: "\f12a";
  }

.icon-circle2:before {
  content: "\f111";
  }

.icon-play5:before {
  content: "\f04b";
  }

.icon-pause5:before {
  content: "\f04c";
  }

.icon-forward5:before {
  content: "\f04e";
  }

.icon-backward3:before {
  content: "\f04a";
  }

.icon-step-forward:before {
  content: "\f051";
  }

.icon-step-backward:before {
  content: "\f048";
  }

.icon-stop6:before {
  content: "\f04d";
  }

.icon-eject4:before {
  content: "\f052";
  }

.icon-power-off:before {
  content: "\f011";
  }

.icon-signal:before {
  content: "\f012";
  }

.icon-chevron-circle-left:before {
  content: "\f137";
  }

.icon-chevron-circle-right:before {
  content: "\f138";
  }

.icon-chevron-circle-up:before {
  content: "\f139";
  }

.icon-chevron-circle-down:before {
  content: "\f13a";
  }

.icon-arrow-circle-right:before {
  content: "\f0a9";
  }

.icon-arrow-circle-left:before {
  content: "\f0a8";
  }

.icon-arrow-circle-up:before {
  content: "\f0aa";
  }

.icon-arrow-circle-down:before {
  content: "\f0ab";
  }

.icon-star10:before {
  content: "\f005";
  }

.icon-star-o:before {
  content: "\f006";
  }

.icon-star-half-empty:before {
  content: "\f123";
  }

.icon-email:before {
  content: "\e7e1";
  }

.icon-home22:before {
  content: "\e601";
  }

.icon-globe:before {
  content: "\eaa7";
  }

.icon-newspaper3:before {
  content: "\e604";
  }

.icon-pencil2:before {
  content: "\e605";
  }

.icon-pencil22:before {
  content: "\e606";
  }

.icon-quill:before {
  content: "\e607";
  }

.icon-heart:before {
  content: "\e7cc";
  }

.icon-reply:before {
  content: "\e7de";
  }

.icon-camera3:before {
  content: "\ea07";
  }

.icon-folder:before {
  content: "\ea06";
  }

.icon-search2:before {
  content: "\ea08";
  }

.icon-thumbsup:before {
  content: "\ea28";
  }

.icon-coffee:before {
  content: "\ea32";
  }

.icon-right-quote-alt:before {
  content: "\e988";
  }

.icon-article:before {
  content: "\e989";
  }

.icon-camera2:before {
  content: "\e99a";
  }

.icon-chart:before {
  content: "\e99d";
  }

.icon-pen-alt-fill:before {
  content: "\e992";
  }

.icon-trophy:before {
  content: "\ea46";
  }

.icon-arrow-right:before {
  content: "\e840";
  }

.icon-cog:before {
  content: "\e808";
  }

.icon-facebook3:before {
  content: "\e769";
  }

.icon-twitter2:before {
  content: "\e76d";
  }

.icon-googleplus3:before {
  content: "\e764";
  }

.icon-youtube:before {
  content: "\e773";
  }

.icon-github:before {
  content: "\e788";
  }

.icon-dribbble2:before {
  content: "\ea9d";
  }

.icon-flickr2:before {
  content: "\e77a";
  }

.icon-html5:before {
  content: "\e7ba";
  }

.icon-pinterest:before {
  content: "\e7a6";
  }

.icon-stackoverflow:before {
  content: "\e7a5";
  }

.icon-android:before {
  content: "\e798";
  }

.icon-instagram:before {
  content: "\e7d6";
  }

.icon-windows8:before {
  content: "\e79a";
  }

.icon-tumblr:before {
  content: "\e792";
  }

.icon-vimeo:before {
  content: "\e775";
  }

.icon-css3:before {
  content: "\e7bc";
  }

.icon-flattr:before {
  content: "\e7aa";
  }

.icon-paypal:before {
  content: "\e7ad";
  }

.icon-yelp:before {
  content: "\e7b0";
  }

.icon-lastfm:before {
  content: "\e7a0";
  }

.icon-wordpress:before {
  content: "\e78d";
  }

.icon-joomla:before {
  content: "\e78f";
  }

.icon-blogger:before {
  content: "\e790";
  }

.icon-soundcloud:before {
  content: "\e79b";
  }

.icon-chrome:before {
  content: "\e7bd";
  }

.icon-firefox:before {
  content: "\e7be";
  }

.icon-IE:before {
  content: "\e7bf";
  }

.icon-opera:before {
  content: "\e7c0";
  }

.icon-safari:before {
  content: "\e7c1";
  }

.icon-lanyrd:before {
  content: "\e778";
  }

.icon-deviantart:before {
  content: "\e784";
  }

.icon-forrst:before {
  content: "\ea0a";
  }

.icon-yahoo:before {
  content: "\e794";
  }

.icon-steam:before {
  content: "\e786";
  }

.icon-reddit:before {
  content: "\e79e";
  }

.icon-delicious2:before {
  content: "\e7a2";
  }

.icon-archive:before {
  content: "\e7dc";
  }

.icon-pen2:before {
  content: "\e608";
  }

.icon-lock:before {
  content: "\e688";
  }

.icon-calendar4:before {
  content: "\ea7e";
  }

.icon-phone2:before {
  content: "\e63c";
  }

.icon-key22:before {
  content: "\e687";
  }

.icon-calendar-alt-stroke:before {
  content: "\e80a";
  }

.icon-calendar-alt-fill:before {
  content: "\e80b";
  }

.icon-calendar5:before {
  content: "\e64e";
  }

.icon-clock2:before {
  content: "\e9a4";
  }

.icon-clock3:before {
  content: "\e9f6";
  }

.icon-clock22:before {
  content: "\e649";
  }

.icon-alarm22:before {
  content: "\e64b";
  }

.icon-cancel2:before {
  content: "\ea2d";
  }

.icon-checkmark-circle:before {
  content: "\e6fb";
  }

.icon-info22:before {
  content: "\e6f8";
  }

.icon-warning:before {
  content: "\e9ec";
  }

.icon-close2:before {
  content: "\e6fd";
  }

.icon-locked2:before {
  content: "\e9ee";
  }

.icon-cloud8:before {
  content: "\e9ed";
  }

.icon-comment3:before {
  content: "\e9f0";
  }

.icon-briefcase2:before {
  content: "\e9f3";
  }

.icon-minus4:before {
  content: "\e701";
  }

.icon-arrow-up22:before {
  content: "\e728";
  }

.icon-arrow-up-right2:before {
  content: "\e729";
  }

.icon-arrow-right22:before {
  content: "\e72a";
  }

.icon-arrow-down-right2:before {
  content: "\e72b";
  }

.icon-arrow-down22:before {
  content: "\e72c";
  }

.icon-arrow-down-left2:before {
  content: "\e72d";
  }

.icon-arrow-left22:before {
  content: "\e72e";
  }

.icon-arrow-up-left2:before {
  content: "\e727";
  }

.icon-arrow-up2:before {
  content: "\e720";
  }

.icon-arrow-up-right:before {
  content: "\e721";
  }

.icon-arrow-right2:before {
  content: "\e722";
  }

.icon-arrow-down-right:before {
  content: "\e723";
  }

.icon-arrow-down2:before {
  content: "\e724";
  }

.icon-arrow-down-left:before {
  content: "\e725";
  }

.icon-arrow-left2:before {
  content: "\e726";
  }

.icon-arrow-up-left:before {
  content: "\e71f";
  }

.icon-move-vertical:before {
  content: "\e837";
  }

.icon-move-horizontal:before {
  content: "\e83a";
  }

.icon-maximize:before {
  content: "\ea61";
  }

.icon-move2:before {
  content: "\ea2b";
  }

.icon-fullscreen:before {
  content: "\e974";
  }

.icon-new-window:before {
  content: "\e829";
  }

.icon-transfer:before {
  content: "\e836";
  }

.icon-document-alt-stroke:before {
  content: "\e811";
  }

.icon-notebook:before {
  content: "\e63f";
  }

.icon-user5:before {
  content: "\e670";
  }

.icon-bookmark:before {
  content: "\ea1a";
  }

.icon-tag2:before {
  content: "\ea24";
  }

.icon-home5:before {
  content: "\e600";
  }

.icon-flag2:before {
  content: "\e6c4";
  }

.icon-calculator:before {
  content: "\ea87";
  }

.icon-cart32:before {
  content: "\e637";
  }

.icon-clock5:before {
  content: "\e648";
  }

.icon-disk2:before {
  content: "\e660";
  }

.icon-calendar:before {
  content: "\e7d2";
  }

.icon-zoomin:before {
  content: "\e7ed";
  }

.icon-zoomout:before {
  content: "\e7ee";
  }

.icon-search:before {
  content: "\e7ef";
  }

.icon-star32:before {
  content: "\e6d0";
  }

.icon-hyperlink:before {
  content: "\ea7f";
  }

.icon-lightbulb2:before {
  content: "\ea5d";
  }

.icon-image2:before {
  content: "\e60c";
  }

.icon-checkmark3:before {
  content: "\e6fe";
  }

.icon-radio-unchecked:before {
  content: "\e73c";
  }

.icon-radio-checked:before {
  content: "\e73b";
  }

.icon-volume2:before {
  content: "\ea3c";
  }

.icon-volume3:before {
  content: "\ea3d";
  }

.icon-rss:before {
  content: "\e804";
  }

.icon-check-alt:before {
  content: "\e7ff";
  }

.icon-IcoMoon:before {
  content: "\e7c2";
  }

.icon-unlock-fill:before {
  content: "\e9a8";
  }

.icon-phone:before {
  content: "\ea25";
  }

.icon-code:before {
  content: "\ea57";
  }

.icon-cancel5:before {
  content: "\eb08";
  }

.icon-pen3:before {
  content: "\eb83";
  }

.icon-suitcase3:before {
  content: "\eaf7";
  }

.icon-eye4:before {
  content: "\eb09";
  }

.icon-calendar7:before {
  content: "\eac4";
  }

.icon-calendar9:before {
  content: "\eac6";
  }

.icon-calendar10:before {
  content: "\ec31";
  }

.icon-clock6:before {
  content: "\e055";
  }

.icon-alarmclock:before {
  content: "\e059";
  }

.icon-clock7:before {
  content: "\ec23";
  }

.icon-envelope5:before {
  content: "\ebb9";
  }

.icon-envelope6:before {
  content: "\ebba";
  }

.icon-heart6:before {
  content: "\ebc1";
  }

.icon-pin5:before {
  content: "\eb9e";
  }

.icon-pin4:before {
  content: "\eb9d";
  }

.icon-plus5:before {
  content: "\eaea";
  }

.icon-minus5:before {
  content: "\eaec";
  }

.icon-cancel3:before {
  content: "\eae8";
  }

.icon-chat5:before {
  content: "\eb84";
  }

.icon-locked5:before {
  content: "\ec9b";
  }

.icon-envelope7:before {
  content: "\ec3c";
  }

.icon-printer3:before {
  content: "\ec54";
  }

.icon-trashcan3:before {
  content: "\ec8f";
  }

.icon-locked52:before {
  content: "\ec9c";
  }

.icon-unlocked4:before {
  content: "\ec9d";
  }

.icon-scissors4:before {
  content: "\ecaf";
  }

.icon-board:before {
  content: "\ec89";
  }

.icon-arrow-down8:before {
  content: "\e911";
  }

.icon-checkmark32:before {
  content: "\e8ba";
  }

.icon-arrow-down72:before {
  content: "\e90d";
  }

.icon-stumbleupon3:before {
  content: "\e946";
  }

.icon-phone32:before {
  content: "\e843";
  }

.icon-picasa:before {
  content: "\e958";
  }

.icon-behance:before {
  content: "\e95b";
  }

.icon-mixi:before {
  content: "\e95a";
  }

.icon-smashing:before {
  content: "\e95e";
  }

.icon-evernote:before {
  content: "\e951";
  }

.icon-disk22:before {
  content: "\e8e7";
  }

.icon-cloud42:before {
  content: "\e8e9";
  }

.icon-trash32:before {
  content: "\e8e4";
  }

.icon-upload42:before {
  content: "\e8e5";
  }

.icon-install:before {
  content: "\e8e8";
  }

.icon-bookmarks2:before {
  content: "\e8ec";
  }

.icon-video22:before {
  content: "\e8e0";
  }

.icon-lock-open2:before {
  content: "\e8b7";
  }

.icon-plus322:before {
  content: "\e8c2";
  }

.icon-info42:before {
  content: "\e8c7";
  }

.icon-logout:before {
  content: "\e8b8";
  }

.icon-login:before {
  content: "\e8b9";
  }

.icon-cross222:before {
  content: "\e8bf";
  }

.icon-minus32:before {
  content: "\e8c0";
  }

.icon-plus32:before {
  content: "\e8c1";
  }

.icon-arrow-right8:before {
  content: "\e913";
  }

.icon-twitter42:before {
  content: "\e937";
  }

.icon-github62:before {
  content: "\e931";
  }

.icon-earth22:before {
  content: "\e897";
  }

.icon-paperplane22:before {
  content: "\e848";
  }

.icon-vcard2:before {
  content: "\e853";
  }

.icon-palette:before {
  content: "\e874";
  }

.icon-arrow-left8:before {
  content: "\e910";
  }

.icon-minus42:before {
  content: "\e8c3";
  }

.icon-plus42:before {
  content: "\e8c4";
  }

.icon-arrow-up72:before {
  content: "\e912";
  }

.icon-arrow-up62:before {
  content: "\e90e";
  }

.icon-arrow-left72:before {
  content: "\e90c";
  }

.icon-arrow-right72:before {
  content: "\e90f";
  }

.icon-menu4:before {
  content: "\e920";
  }

.icon-shuffle22:before {
  content: "\e8ce";
  }

.icon-clipboard22:before {
  content: "\e8a9";
  }

.icon-question32:before {
  content: "\e8c8";
  }

.icon-plus22:before {
  content: "\e8bd";
  }

.icon-minus22:before {
  content: "\e8bc";
  }

.icon-cross22:before {
  content: "\e8be";
  }

.icon-archive9:before {
  content: "\e8e3";
  }

.icon-arrow-right9:before {
  content: "\e917";
  }

.icon-googleplus6:before {
  content: "\e93c";
  }

.icon-videos:before {
  content: "\ecde";
  }
